

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(24,1fr);
}

@media (min-width: 1920px) {
    
.container2{
  grid-column-start: 9;
  grid-column-end: 25;
  display: grid;
  grid-template-columns: repeat(16,1fr);
}

.container2__box{
    margin-top: 180px;
    border: solid rgb(0, 0, 0);
    border-width: 2px 2px;
    height: 45%;
    grid-column-start: 6;
    grid-column-end: 12;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    height: 100vh;
    grid-column-start: 1;
    grid-column-end: 9;
    background-color: black;

    background-image: url(/Group\ 39.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container1__header  {
    margin-top: 120px;

    display: block;
    color: white;
    font-size: 48px;
    line-height: 58px;
    font-weight: 500;

    grid-column-start: 2;
    grid-column-end: 8;

   
}

}

@media (min-width:919px) and (max-width: 1919px) {

    .container2{
        grid-column-start: 12;
        grid-column-end: 25;
        display: grid;
        grid-template-columns: repeat(13,1fr);
      }
      
      .container2__box{
          margin-top: 180px;
          border: solid rgb(0, 0, 0);
          border-width: 2px 2px;
          height: 45%;
          grid-column-start: 4;
          grid-column-end: 11;
      }

    .container1 {
        display: grid;
        grid-template-columns: repeat(11,1fr);
        height: 100vh;
        grid-column-start: 1;
        grid-column-end: 12;
        background-color: black;
    
        background-image: url(/Group\ 39.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .container1__header {
        margin-top: 120px;

    display: block;
    color: white;
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;

        grid-column-start: 2;
        grid-column-end: 10;
    }
}

@media (max-width: 920px) {
    .container1 {
        display: none;
    }

    .container2{
        height: 100vh;
        grid-column-start: 1;
        grid-column-end: 25;
        display: grid;
        grid-template-columns: repeat(24,1fr);
      }
      
      .container2__box{
          margin-top: 180px;
          border: solid rgb(0, 0, 0);
          border-width: 2px 2px;
          height: 45%;
          grid-column-start: 6;
          grid-column-end: 20;
      }
}
